<form>
  <span>Select XML file...</span>

  <!-- The file input field used as target for the file upload widget -->
  <input id="fileupload" class='file-uploader' type="file" name="files[]" multiple>

  <input name="task_id" type='hidden' value='{{task.id}}'>
</form>