<h2>Spanish Books</h2>
<ul>
  {{#each model.books as |book|}}
    <li>
      {{#link-to 'book' book}}
        {{book.title}} - {{book.author}}
      {{/link-to}}
    </li>
  {{else}}
    <li>No books found.</li>
  {{/each}}
</ul>
